<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>比洗照片更划算,片刻lomo</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="Uploader/style.css">  
</head>
 
<body style="margin:0px">
<div style="margin:0px">
    <img src="/images/01.jpg" width="100%">
    <img src="/images/02.jpg" width="100%">
    <img src="/images/03.jpg" width="100%">
    <img src="/images/04.jpg" width="100%">
    <img src="/images/05.jpg" width="100%">
</div>
<div id="test" class="btnbox" onclick="document.location='/make';" >
    <img src="/images/iwantmake.png" width="200px" >
</div>
</body>


</html>
