<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        支付
    </title>
    <link rel="stylesheet" type="text/css" href="Uploader/style.css"> 
    <style>
		html,body{ margin:0px; height:100%;} 
	</style>
</head>

<body >
<div style="position:relative;background-color: #E0B741;height:100%" >
<img src="images/38.jpg" width="100%">

<div id="nextstep" class="nextstep" style="position:fixed; left:0; bottom:0;" onclick="document.location='/payfinish';">
支付完成，下一步
</div>
</div>
</body>
<script type="text/javascript">
	alert("订单成功！请长按扫描二维码支付");
</script>
</html>